.cards {
  width: calc(33%.33 - 15px);
  text-align: justify;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: #323a49;
  border-radius: 8px;
}

.imgs {
  height: 300px;
  width: 400px;  
}

.namecar {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
  padding: 8px;
}

.origen {
  font-size: 1rem;
  font-weight: 400;
  color: #bad2ff;
  padding: 8px;
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #8197ff;
  padding: 8px;
}

.seedetail{
  padding: 8px;
}
