.counter {
  display: flex;
  margin-top: 1rem;
  color: white;
}

button{
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    margin-left: 0.5rem;
}

h1{
    margin-left: 0.5rem;
}